.meme-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
}

.top-text {
    top: 10px;
}

.bottom-text {
    bottom: 10px;
}